@import url('https://fonts.googleapis.com/css?family=Silkscreen|Nanum+Brush+Script');

* {
	margin:0;
	padding:0;
	color:#000;
	box-sizing: border-box;
}

#Default-font {
	font-family: 'Silkscreen', serif;
}

.fn-font {
	font-family: 'Nanum Brush Script', cursive;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
}