.weather_section {
    margin-top: 150px;
    margin-left: 100px;
    background-size: cover;
    background-image: url("weather_backimg.jpg");
    display: flex;
    justify-content: space-between;

    width: 600px;
    height: 250px;
    
}

#weather_left {
    margin-left: 10px;
    font-size: 20px;
}

#temperature {
    font-size: 80px;
}

#weather_right {
    margin-left: auto;
    margin-right: 20px;
    font-size: 40px;
}



